
{% extends 'layout.html' %}
{% block body %}

    <a target="_blank" href="https://photos.app.goo.gl/QbdPwKmfdG5onDyS7">
      <h3 class='text-center text-muted mb-3'>Currency Collection</h3>
    </a>
    <p class='text-right'><a href='{{url_for("add_user")}}' class='btn btn-success'>+ Add Currency</a></p>

  <table class='table table-bordered'>
    <thead>
      <th>S.No.</th>
      <th>Year</th>
      <th>Country</th>
      <th>Name</th>

      <th>Photo</th>
      <th>Edit</th>
      <th>Delete</th>
    </thead>

    <tbody>
      {% for row in datas %}
        <tr>

          <td>{{loop.index}}</td>
          <td>{{row.UNAME}}</td>
          <td>{{row.CONTACT}}</td>
          <td>{{row.NAME}}</td>

          <td>
            <a target="_blank" href="/static/files/{{row.FILE}}">
              {% if row.FILE.split('.')[-1] in ['mp4', 'avi',] %}
              
                <video muted id="myImg" alt="{{row.FILE}}" style="width:100%;max-width:100px" controls>
                  <source src="/static/files/{{row.FILE}}" type="video/mp4">
                </video>

              {% else %}
                <img id="myImg" src="/static/files/{{row.FILE}}" alt="{{row.FILE}}" style="width:100%;max-width:100px">
              {% endif %}

            </a>
          </td>

          <td><a href='{{url_for("edit_user",uid=row.UID)}}' class='btn btn-primary'>Edit</a></td>
          <td><a href='{{url_for("delete_user",uid=row.UID)}}' class='btn btn-danger' onclick='return confirm("Are You Sure")'>Delete</a></td>
        
        </tr>
      {%endfor%}
    </tbody>

  </table>
{% endblock %}
